<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~60915/vader
    RewriteRule ^~/~60915/vader/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~60915/vader/index.html [L]
</IfModule>